<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.csstudio.archive.config.ArchiveConfig">
      <ArchiveConfig
            class="org.csstudio.archive.config.influxdb.InfluxDBArchiveConfig">
      </ArchiveConfig>
   </extension>
   <extension
         id="app"
         point="org.eclipse.core.runtime.applications">
      <application
            cardinality="singleton-global"
            thread="main"
            visible="true">
         <run
               class="org.csstudio.archive.config.influxdb.ArchiveConfigApplication">
         </run>
      </application>
   </extension>
      <extension
         id="sim"
         point="org.eclipse.core.runtime.applications">
      <application
            cardinality="singleton-global"
            thread="main"
            visible="true">
         <run
               class="org.csstudio.archive.config.influxdb.PopulateDatabaseApplication">
         </run>
      </application>
   </extension>
   
   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            application="org.csstudio.archive.config.influxdb.app"
            name="ArchiveConfigTool">
         <property
               name="appName"
               value="ArchiveConfigTool">
         </property>
      </product>
   </extension>
   <extension
         id="product1"
         point="org.eclipse.core.runtime.products">
      <product
            application="org.csstudio.archive.config.influxdb.sim"
            name="PopulateDatabase">
         <property
               name="appName"
               value="PopulateDatabase">
         </property>
      </product>
   </extension>
</plugin>
