<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.csstudio.archive.reader.ArchiveReader">
      <ArchiveReader
            class="org.csstudio.archive.reader.influxdb.InfluxdbArchiveReaderFactory"
            name="org.csstudio.archive.reader.influxdb.archivereader"
            prefix="influxdb">
      </ArchiveReader>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="org.csstudio.platform.ui.css.applications.trends"
            class="org.csstudio.archive.reader.influxdb.PreferencePage"
            id="org.csstudio.archive.reader.influxdb.preferences"
            name="Influxdb Archive">
      </page>
   </extension>
</plugin>
